.section1 {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items:  center  ;
    padding: 30px;
    margin-left: 100px;
 
   
}   

    .section2 {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-evenly;
        align-items:  center  ;
        
        background-color: #F7F7F7;
        padding: 50px 50px;
    }  
    
    .section3 {
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        align-items:  center  ;
        padding: 0px;
       
        
    } 

    .section4 {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;
        align-items:  center  ;
        padding: 20px;
        background-color: #F7F7F7;
        
    } 

.grid{

    display: grid;
}


.banner{
    
    grid-row: 1;
    grid-column: 1;
}
.banner h1 { 

    font-family: Ubuntu;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 69px;
    letter-spacing: 0em;
    text-align: left;
    color: #FF4081;
    }

.vem{
  
    grid-row: 2;
    grid-column: 1; 
}

.banner p {
    
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 30px;
   color: #555555;

}

.button{
    grid-row: 3;
    grid-column: 1;
}

.button button {
  
    cursor: pointer;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 31px;
    
    color: #FF4081;
    
    
    border: 2px solid #FF4081; 
    box-sizing: border-box;
    border-radius: 62px;
    }
    
    .ilustra-banner{

        grid-row: 1;
        grid-column: 2;
        margin-top: 30px;
        /* margin-left: 180px; */
    }

    .section2 .ilustra-sec2 img {}
    
    .section2 h3 {
        
        font-family: Ubuntu;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 29px;
        /* identical to box height */
        
        /* text-align: center; */
        color: #FF4081;    
    
    }
    
    .section2 p{
        width: 230px;
    
    font-family: Ubuntu;
    font-size: 17px;
    font-style: normal;
    font-weight: auto;
    line-height: 20px;
    letter-spacing: 0em;
    /* text-align: center; */
    color: #000000;
    
    }
    
    .section2 button {
       
        cursor: pointer;
        font-family: Ubuntu;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 23px;
        text-align: center;
        
        color: #ffffff;
        background: #FF4081;
        border-radius: 62px;
        
        }

    .depoimento p {
    
    font-family: Nunito;
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 50px;
    color: #009688;
    }

    .grid3{
        display: grid;
    }

    .coment{
        padding: 10px;
        display: grid;
    }

    .coment img{
        grid-row: 1;
        grid-column: 1;
       padding-right: 15px;
    }
    .coment p{
        grid-row: 1;
        grid-column: 2;
        font-family: Nunito;
        font-style: normal;
        font-weight: 30;
        font-size: 18px;
        line-height: 25px;
        color: #000000;
    }

    .maisconteudo p{

            background-color: darkgreen;
            font-family: Nunito;
            font-size: 37px;
            font-style: normal;
            font-weight: 700;
            line-height: 0px;
            letter-spacing: 0em;
            text-align: left;
            margin-left: 50px;
            margin-top: 100px;
            color: #009688;
           
    }

    .video{
        display: grid;
        gap: 0px;
    }



    .video1 iframe {
       
        background: #C4C4C4;
        }
        
        .video h1 {
        
        font-family: Ubuntu;
        font-style: normal;
        font-weight: bold;
        font-size: 27px;

        
        color: #009688;
        }  
        
        .video p {
       
        font-style: normal;
        font-weight: 400px;
        font-size: 20px;
        line-height: 30px;
        
        color: #000000;
        }

        .vertodososposts button {
        
        cursor: pointer;
        font-size: 17px;
        border: 2px solid #FF4081;
        box-sizing: border-box;
        border-radius: 62px;
        margin-top: 40px;
        line-height: 29px;
        border: 2px solid #FF4081;
        box-sizing: border-box;
        border-radius: 62px;
        
        }


        @media only screen and (max-width: 400px) {
           .ilustra-banner margin-left: 180px; 
        }
           
        .section2 .ilustra-sec2 img {
            margin-left: 50px;
        }

            .section2 h3 {
                margin-left: 80px;
            }

            .section2 p {
                margin-left: 80px;
            }
            .section2 button {
                margin-left: 80px;
            }

            .depoimento p {
                margin-left: 80px;
            }

            .maisconteudo p {
                font-size: 25px;
            }
           
            .video {
                margin-left: 100px;
            }