
.container-blog {
  max-width: 100vw;
  /* overflow: auto; */
}

.image-banner-blog {
  background-image: url("../../assets/img/dindin-imagens/ilustra-blog.png");
  background-repeat: no-repeat; /*imagens menores - não se repetirem
    /* background-size: contain; abrange todo container */
  /* background-attachment: fixed; fixa o conteúdo, demais elementos movem-se por sobre ele. */
}

@media (min-width: 280px) {
  .banner-blog {
    margin-top: 93px;
    margin-bottom: 80px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column-reverse;
  }

  .image-banner-blog {
    width: 100%;
    height: fit-content;
  }

  .title-banner-blog {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 2.43em;
    color: #ff4081;
  }

  .description-banner-blog {
    font-family: Ubuntu;
    font-weight: 300;
    font-size: 1em;
    display: flex;
    align-items: center;
    color: #000;
  }

@media (min-width: 460px) {
  .banner-blog {
    margin-top: 93px;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 80px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column-reverse;
  }

  .image-banner-blog {
    width: 100%;
    height: fit-content;
  }


@media (min-width: 768px) {
  .banner-blog {
    margin-top: 93px;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 80px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column-reverse;
  }

  .banner-blog-container-texts {
    width: 100%;
  }

  .image-banner-blog {
    width: 70%;
    height: fit-content;
    margin-left: 10%;
    margin-right: 10%;
  }

  .blog-class-container {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .blog-class-container-texts {
    width: 100%;
  }

  .title-banner-blog {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 3.43em;
    line-height: 63px;
    color: #ff4081;
  }

  .description-banner-blog {
    font-family: Ubuntu;
    font-weight: 300;
    font-size: 1.25em;
    display: flex;
    align-items: center;
    color: #000;
  }
  
@media (min-width: 1024px) {
  .banner-blog {
    margin-top: 93px;
    margin-right: 3%;
    margin-left: 3%;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
  }
}

@media (min-width: 1110px) {
  .banner-blog {
    margin-top: 93px;
    margin-right: 10%;
    margin-left: 5%;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
  }
}

@media (min-width: 1340px) {
  .banner-blog {
    margin-top: 93px;
    margin-right: 18%;
    margin-left: 12%;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
  }

  .image-banner-blog {
    max-width: 380px;
    height: fit-content;
  }

  .blog-class-container {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .blog-class-container-texts {
    width: 48%;
  }
}
