*{
    margin:2px;
    padding: 2px;
    font-family: 'Ubuntu', sans-serif;
    
    
}

body{
    width: 1440px;
}

.container{
    display: flex;
    max-width: 80%;
    margin: 100px;
    margin-top: 200px;
    
}

formulario{
    flex: 1;
}
 
.container legend{
    font-size: 40px;
    font-weight: 700;
    color: #FF4081;
    margin-bottom: 30px;
    width: 100%;
}


.form input{
	width: 100%;
    padding: 4px 10px;
    border-radius: 6px;
    text-align: left;
    border-width: thin;
    border: 1px solid #686868;
    margin-bottom: 1rem;
}

.form textarea{
	width: 100%;
    padding: 4px 10px;
    border-radius: 6px;
    text-align: left;
    display: flex;
    border-width: thin;
    border: 1px solid #686868;
    margin-bottom: 1rem;
    resize: none;
}

.form button{
    width: 150px;
    padding: 5px 7px;
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    background: #FF4081;
    color: #ffffff;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    margin-top: auto;
    margin-left: auto;
    float: left;
}

.container img {
    max-width: 400px;
    max-height: 400px;
    margin-left: 200px;
    display: block;
}

div img{
    width: 100%;
}

/* footer */
.footer {
    /* position: absolute; */
    width: 100vw;
    background-color: #419488;
    box-sizing: border-box;
  }

  .logo-footer {
    /* position: absolute; */
    /* margin: 53px 128px auto 52.57px; */
    top: 25.6%;
    right: 84.27%;
    bottom: 25.4%;
    left: 5%;
  }

  .nav-footer {
    /* position: absolute; */
    left: 43.26%;
    right: 51.81%;
    top: 28.6%;
    bottom: 34.3%;
    text-align: justify;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
  
    color: #fff;
  }

  .footer button {
    border: 2px solid #fff;
    box-sizing: border-box;
    border-radius: 62px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0);
  }



  

.but1 {
    /* position: absolute; */
    left: 70.42%;
    right: 9.51%;
    top: 24.15%;
    bottom: 51.21%;
  }

  .but1 .textBut1 {
    left: 73.26%;
    right: 12.36%;
    top: 30.92%;
    bottom: 57.97%;
    font-size: 18px;
  }

  .but2 {
    /* position: absolute; */
    left: 70.42%;
    right: 9.51%;
    top: 55.07%;
    bottom: 20.29%;
  }

  .but2 .textBut2 {
    left: 73.26%;
    right: 12.36%;
    top: 30.92%;
    bottom: 57.57%;
    font-size: 18px;
  
  }


@media only screen and (max-width: 767px) {
    /* main  para smartphone*/


main{
    width: 50%;
    
}



.formulario{
    width: 600px;
    margin: 0 auto;
}

.container{
    display: grid;
    margin: 131px 30px 0px;
}

.container legend{
    padding: 5px 0px 5px 0px;
    font-size: 20px;
    color: #FF4081;
    width: 80%;
}

.form input{
	width: 50%;
    padding: 4px 10px;
    border-radius: 6px;
    text-align: left;
    border-width: thin;
    border: 1px solid #686868;
    margin-bottom: 1rem;
}

.form textarea{
	width: 50%;
    padding: 4px 10px;
    border-radius: 6px;
    text-align: left;
    display: flex;
    border-width: thin;
    border: 1px solid #686868;
    margin-bottom: 1rem;
    resize: none;
}


.container img {
    max-width: 200px;
    max-height: 200px; 
    margin-left: 10%;
    margin-top: 50px;
}

.form button{
    width: 20%;
}

/* header para smartphone */
.div-header img{
    max-width: 171px;
    max-height: 51px;
    
}

.div-header{
    justify-content: space-between !important;
}

.header {
   max-height: 100px;
   max-width: 91%;
}

/* footer para smartphone*/

.footer{
   
    max-height: 100px;
    max-width: 91%;
}

.logo-footer{
   width: 100px;
   height: 40px;
   margin: 29px 27px

}
.nav-footer{
    margin-top: -15px;
    font-size: 16px;
}
.footer button{
    max-width: 100px;
    margin: auto;
    
}
.but1 .textBut1 {
    font-size: 8px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 100px;
    margin-bottom: 400px;
    
    
   
}



.but2 .textBut2{
    font-size: 8px;
}

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* main  para smartphone*/


main{
    width: 50%;
    
    
}



.formulario{
    width: 750px;
}

.container{
    display: grid;
    margin: 131px 30px 0px;
}

.container legend{
    padding: 5px 0px 5px 0px;
    font-size: 25px;
    color: #FF4081;
    width: 80%;
}

.form input{
	width: 50%;
    padding: 4px 10px;
    border-radius: 6px;
    text-align: left;
    border-width: thin;
    border: 1px solid #686868;
    margin-bottom: 1rem;
}

.form textarea{
	width: 50%;
    padding: 4px 10px;
    border-radius: 6px;
    text-align: left;
    display: flex;
    border-width: thin;
    border: 1px solid #686868;
    margin-bottom: 1rem;
    resize: none;
}


.container img {
    max-width: 220px;
    max-height: 220px; 
    margin-left: 12%;
    margin-top: 50px;
    margin-bottom: 20px;
}

.form button{
    width: 20%;
}

/* header para smartphone */
.div-header img{
    max-width: 171px;
    max-height: 51px;
    
}

.div-header{
    justify-content: space-between !important;
}

.header {
   max-height: 100px;
   max-width: 436px;
}

/* footer para smartphone*/

.footer{
   
    max-height: 100px;
    max-width: 436px;
}

.logo-footer{
   width: 100px;
   height: 40px;
   margin: 25px 10px
}
.nav-footer{
    margin-top: -15px;
    font-size: 13px;
    margin-left: -26px;
    
}
.footer button{
    max-width: 120px;
    margin: auto;
    
}
.but1 .textBut1 {
    font-size: 8px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 100px;
    margin-bottom: 400px;
    
    
   
}



.but2 .textBut2{
    font-size: 8px;
}

}