*{
    margin:2px;
    padding: 2px;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

.container{
    display: flex;
    max-width: 80%;
    margin: auto;
}

formulario{
    flex: 1;
}
 
.container legend{
    font-size: 40px;
    font-weight: 700;
    color: #FF4081;
    margin-bottom: 30px;
    width: 100%;
}

.conteiner form{
    width: 100%;
    margin-left: 10px;
    display: grid;
    flex: 1;
}


.form input{
	width: 100%;
    padding: 4px 10px;
    border-radius: 6px;
    text-align: left;
    border-width: thin;
    border: 1px solid #686868;
    margin-bottom: 1rem;
}

.form textarea{
	width: 100%;
    padding: 4px 10px;
    border-radius: 6px;
    text-align: left;
    display: flex;
    border-width: thin;
    border: 1px solid #686868;
    margin-bottom: 1rem;
    resize: none;
}

.form button{
    width: 25%;
    padding: 5px 7px;
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    background: #FF4081;
    color: #ffffff;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    margin-top: auto;
    margin-left: auto;
    float: left;
}

.container img {
    max-width: 400px;
    max-height: 400px;
    margin-left: 200px;
    display: block;
}

div img{
    width: 100%;
    margin-left: 15%;
}

@media only screen and (max-width: 767px) {
*{
    width: 99%;
}

.container{
    display: grid;
}

.container legend{
    padding: 5px 0px 5px 0px;
    font-size: 20px;
    color: #FF4081;
    width: 80%;
}

.conteiner form{
        width: 50%;
        margin-left: 10px;
        display: grid;
        flex: 1;
}

.container img {
    max-width: 200px;
    max-height: 200px; 
    margin-left: 15%;
}

}