*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.intro{
    margin-top: 50px;
}

.container-flex{
    width: 85%;
    margin: auto;
    display: flex;
    padding-bottom: 50px;
    padding: 80px 0px;
    

}
.curso1{
    margin-left: 50px;
    margin-top: 30px;
    
}

.curso1 h2{
    font-size: 35px;
    font-weight: bold;
}

.curso1 p{
    padding: 40px 0px 50px 0px;
}

.intro h1{
    width: 84%; 
    margin: auto;
    color: #FF4081;
    padding-top: 20px;
    padding-bottom: 0px;
    font-size: 50px;
}

.intro p{
    width: 84%; 
    margin: auto;
    color: #555555;
    font-size: 15px;
}

h2{
    color: #FF4081;
}

.curso1 button{
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background:#419488;
    color: #fff;
    font-size: 18px;
    margin-left: 0px;
    
}

.curso1 a button{
    cursor: pointer;
}

hr{
    margin: 0px 70px;
    border-top: 4px #C4C4C4 solid;
}
/* header */

.header{
    position: relative !important;
}

/* footer */
.nav-footer {
    /* position: absolute; */
    left: 43.26%;
    right: 51.81%;
    top: 28.6%;
    bottom: 34.3%;
    text-align: justify;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #fff;
}

.but1 .textBut1 {
    left: 73.26%;
    right: 12.36%;
    top: 30.92%;
    bottom: 57.97%;
    font-size: 18px;
    font-weight: bold;
}

.but2 .textBut2 {
    left: 73.26%;
    right: 12.36%;
    top: 30.92%;
    bottom: 57.57%;
    font-size: 18px;
    font-weight: bold;
}

@media only screen and (max-width: 767px){
    

.intro h1{
    font-size: 25px;
    text-align: center;
}

.intro p{
    font-size: 12px;
    text-align: center;
    
}
.container-flex{
    width: 80%;
    margin: auto;
    display: grid;
    padding-bottom: 50px;
    padding: 50px 0px;
    

}

main .container-flex{
    display: grid;
    margin: 0px 15px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.imagem img{
    max-width: 90%;
    max-height: 90%;
    margin-left: 50px;
}

h2{
    font-size: 16px;
    margin-left: 12px;
}

.curso1 p{
    text-align: justify;
    padding:20px 0px;
    font-size: 12px;
}

.curso1 h2{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin: auto;
}


.intro{
    text-align: center;
}

.curso1 button{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    font-size: 10px;
    margin-left: 90px;
    
    

}

button{
    margin-left: 73px;
}

hr{
   border-top: 2px #C4C4C4 solid;
   margin: 20px 60px;
  
}

.but1 {
    width: 150px;
    height: 40px;
    margin-left: 70px;
    
}

.but1 .textBut1{
    font-size: 10px;
}

.but2 .textBut2{
    font-size: 10px;
}

.but2{
    width: 150px;
    height: 40px;
    margin-left: 70px;
}

.nav-footer{
    margin-left: 100px;
    margin-top: -50px;
}





}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
.container-flex .imagem img{
    width: 200px;
    height: 200px;
    margin-bottom: 0 ;
}

.curso1 h2{
    font-size: 18px;
}

.curso1 p{
    font-size: 14px;
    padding: 20px 30px 15px 0px;
}

.curso1 button{
    width: 100px;
    height: 30px;
    font-size: 12px;

}


}