*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}


.section-cursos{
    background: #F7F7F7;
    width: 100%;
    
}

.container{
    max-width: 73%;
    margin: auto;
    padding-bottom: 50px;
}

.cursos-section{
    display: flex;
}

.curso-content{
    padding: 15px;
    flex: 1;
    margin: 35px 8px;
}

.curso-content img{
    width: 240px;
    height: 280px;
    
}



.tituloPagina h1{
    color: #FF4081;
    text-align: center;
    margin-top: 20px;
}

.tituloPagina p{
    text-align: center;
    font-size: 12px;
    
}
p{
    padding: 30px 0px 60px 0px;
    
}

h1{
    padding-top: 40px;
    color: #2E948A;
    font-size: 35px;
}

h4{
    font-size: 18px;
}

.section-cursos .container h1{
    text-align: center;
    color: #FF4081;
}

.curso-content {
    
    width: 100%;
}

div img{
    width: 100%;
}

.curso-content h4{
    color: #FF4081;
    text-align: center;
    margin-top: 50px;
}

.curso-content p{
    text-align: center;
    font-size: 14px;
    padding-bottom: 40px;
    float: right;
    margin-top: 20px;
    
    
}
.curso-content .button-content{
    background: #FF4081;
    border:none;
    text-align: center;
    border-radius: 25px;
    width:60%;
    height: 40px;
    display: inline-block;
    padding: 0px;
    padding-top: 10px;
    /* font-size: 18px; */
    cursor: pointer;
    margin-left: 15%;
    
    
    
        
    
}
.curso-content .button-content a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    text-transform: none;
    font-weight: 200;
    margin-top: 15px;
    
}

.header{
    position: relative !important;
}

.nav-footer {
    /* position: absolute; */
    left: 43.26%;
    right: 51.81%;
    top: 28.6%;
    bottom: 34.3%;
    text-align: justify;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #fff;
}

.but1 .textBut1 {
    left: 73.26%;
    right: 12.36%;
    top: 30.92%;
    bottom: 57.97%;
    font-size: 18px;
    font-weight: bold;
}

.but2 .textBut2 {
    left: 73.26%;
    right: 12.36%;
    top: 30.92%;
    bottom: 57.57%;
    font-size: 18px;
    font-weight: bold;
}

@media screen and (max-width: 767px) {
.cursos-section{
      display: grid;
      
        margin: auto;
      
    }
p{
    text-align: justify;
}

.curso-content {
    
    width: 75%;
    margin: auto;
}
.curso-content img{
    width: 150px;
    height: 200px;
    margin: auto;
    width: 100%;
}

h1{
    font-size: 20px;
    text-align: center;
}
}

